@media screen and ( max-width: 1200px )
  .container
    max-width: 960px

@media screen and ( max-width: 992px )
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
      // max-width: 340px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px

@media screen and ( max-width: 768px )
  .container
    max-width: 98%
    // padding: 0 20px
  .search
    &__input
      width: 300px
  .logo
    width: 122px

@media screen and ( max-width: 576px )
  .container
    min-width: 320px
    padding: 0 20px
  .menu
    &-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        margin: 0
        justify-content: center
        align-items: center
        flex-direction: column
        gap: 4px
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .navbar
    &__search, &-menu, &__user
      display: none
    // &-top
    //   &__menu-button
  .hotel
    padding: 0
    &-name
      flex-basis: 100%
    &-info
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__text
        width: 100%
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-description
      margin: 0
        
  .stars
    width: auto
    flex-basis: auto
    margin-left: auto
    margin-right: 15px
  .logo
    width: 99px
  