@media screen and ( max-width: 1200px )
  .container
    max-width: 960px
  .slider
    width: 600px
@media screen and ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0
    &__search
      margin-left: auto
      // max-width: 340px
    &-menu
      padding: 22px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    &-grid
      flex-direction: column
      &__info
        flex-direction: row
        gap: 20px
    &-slider
      padding-bottom: 30px
  .slider
    width: 100%
  .booking
    width: 340px
  .map
    width: 340px

@media screen and ( max-width: 768px )
  .container
    max-width: 98%
    // padding: 0 20px
  .search
    &__input
      width: 300px
  .logo
    width: 122px
  .slider
    // width: 728px
    height: 350px
  .hotel
    &-grid
      min-height: 450px
      &__info
        // flex-direction: column
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 676px
      width: 92%
      justify-content: space-between
    &__subscribe
      margin-left: 20px


@media screen and ( max-width: 576px )
  .container
    min-width: 320px
    padding: 0 20px
  .menu
    &-button
        display: flex
        width: 16px
        height: 11px
        padding: 0
        margin: 0
        justify-content: center
        align-items: center
        flex-direction: column
        gap: 4px
        cursor: pointer
        &__line
          width: 16px
          height: 1px
          background-color: $text-color
  .navbar
    &__search, &-menu, &__user
      display: none
    // &-top
    //   &__menu-button
  .hotel
    padding: 0
    &-slider
      padding-bottom: 20px
    &-name
      flex-basis: 100%
    &-info
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__text
        width: 100%
      &__raiting
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-description
      margin: 0
    &__slider
      margin-bottom: 20px
    &-grid
      &__info
        flex-direction: column
        gap: 20px
        margin-bottom: 40px
  .stars
    width: auto
    flex-basis: auto
    margin-left: auto
    margin-right: 15px
  .logo
    width: 99px
  .slider
    height: 250px
  .newsletter
    padding: 76px 20px 83px 20px
    &-wrapper
      // max-width: 676px
      width: 98%
      flex-direction: column
      align-items: flex-start
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__heading
        font-size: 30px
        line-height: 38px
    &__subscribe
      margin: 0
  .subscribe
    width: 100%
  