.hotel
  padding-top: 23px
  padding-bottom: 30px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 20px
    &__description
      margin: 0
    &__offer
      margin-left: 14px
      margin-top: 4px
    &__name
      margin-top: 4px
      margin-bottom: 0
      text-transform: uppercase
    &__text
      width: 100%
  &-name
    font-size: 24px
    line-height: 30px
  &-grid
    display: flex
    justify-content: space-between
    &__info
      display: flex
      flex-direction: column
      justify-content: space-between
  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
  &-description
    font-size: 12px
    line-height: 15px
.stars
  width: 100%
  display: flex
  gap: 2px
.offer
  font-size: 10px
  line-height: 13px
  padding: 4px 9px
  background-color: $accent-color
  border-radius: 3px
  color: $light
.raiting
  max-width: 65px
  min-height: 45px
  border-radius: 4px
  text-align: center
  background-color: $accent-color
  color: $light
  padding-top: 4px
  &__text
    font-size: 8px
    line-height: 10px
  &__counter
    font-size: 14px
    line-height: 18px
.hotel-swiper 
  width: 100%
  height: 100%
  position: relative
  border-radius: 8px
  &__slide
    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
      border-radius: 8px
  &__img
    width: 100%
    height: 100%
    object-fit: cover

.slider
  width: 728px
  height: 450px
  position: relative
  &-button
    width: 30px
    height: 30px
    position: absolute
    top: 50%
    border: none
    background-color: transparent
    border-radius: 50%
    z-index: 50
    cursor: pointer
    transform: translateY(-50%)
    background-repeat: no-repeat
    background-position: center
    transition: .3s
    &--next
      right: 18px
      background-image: url(../img/arrow-next.svg)
      background-position-x: 11px
    &--prev
      left: 18px
      background-image: url(../img/arrow-prev.svg)
      background-position-x: 9px
    &:hover
      // background-color: $accent-color
      // box-shadow: 0 0 10px $accent-color

.booking
  width: 350px
  height: 210px
  padding: 28px
  border-radius: 8px
  background-color: $dark
  color: $light
  font-family: 'Nunito', sans-serif
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__tag
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &-room
    margin-top: 4px
    &__item
      display: flex
      align-items: center
      justify-content: space-between
      margin-bottom: 8px
    &__text
      font-weight: normal
      font-size: 12px
      line-height: 16px
      margin-left: 9px
      margin-top: 2px
  &__call-center
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 17px
  &__quick
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
    text-decoration: none
    color: inherit
    display: flex
    align-items: center
    justify-content: space-between
  &__num
    margin-left: 8px
  &__button
    width: 100%
    height: 45px
    padding: 13px
    border: none
    font-weight: 600
    font-size: 14px
    line-height: 19px
    background: $accent-color
    border-radius: 4px
    color: inherit
    cursor: pointer
.map
  width: 350px
  height: 210px
  background-color: $dark
  border-radius: 8px
  overflow: hidden
